<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <script type="text/javascript" src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
	<title>互联网职位大数据分析-城市</title>
</head>
<body style="visibility: hidden">
    <header class="myheader">
        <nav class="nav_box">
            <ul class="myul">
                <li>
                    <a href="index1" >主页</a>
                </li>
                <li>
                    <a href="city" class="myactive">城市</a>
                </li>
                <li>
                    <a href="company">公司</a>
                </li>
                <li>
                    <a href="job">岗位</a>
                </li>
                <li>
                    <a href="tab">求职标签面板</a>
                </li>
            </ul>
        </nav>
        <div class="center-top">
                <h1>互联网职位大数据分析</h1>
        </div>
    </header>
    <div class="mycontainer">
        <div class="switch-box">
            <ul>
                <li>薪资</li>
                <li>岗位数量</li>
                <li>公司规模</li>
            </ul>
        </div>
        <div class="mybox">
            <div class="chart-box">
                <div class="wrapper">
                    <section style="width: 45%;height: 85%">
                        <div class="boxall" style="height: 100%">
                            <div class="alltitle">全国各城市平均薪资总览</div>
                                 <div id="chart4" style="width:100%;height:100%;"></div>
                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 45%;height: 85%;margin-left: 10px">
                        <div class="boxall" style="height: 100%">
                            <div class="alltitle">全国各城市平均薪资排名Top10</div>
                                 <div id="chart5" style="width:100%;height:100%;"></div>
                            <div class="boxfoot"></div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="chart-box">
                <div class="wrapper">
                    <section style="width: 45%;height: 85%">
                        <div class="boxall" style="height: 100%">
                            <div class="alltitle">全国各城市岗位需求热力图</div>
                                 <div id="chart1" style="width:500px;height:380px;"></div>
                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 45%;height: 85%;margin-left: 10px">
                        <div class="boxall" style="height: 100%">
                            <div class="alltitle">全国各城市岗位需求排名Top10</div>
                                 <div id="chart2" style="width:500px;height:380px;"></div>
                            <div class="boxfoot"></div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="chart-box">
                <div class="wrapper">
                    <section style="width: 75%;height: 85%">
                        <div class="boxall" style="height: 100%">
                            <div class="alltitle">主要城市公司规模</div>
                                 <div id="chart3" style="width:850px;height:380px;"></div>
                            <div class="boxfoot"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/china.js"></script>
<script type="text/javascript" src="../static/js/base.js"></script>
<script>
        //切换卡片功能
        window.onload=function(){
            $("body").css('visibility', 'visible');
            $(".switch-box ul li:eq(0)").css("border-bottom","3px solid #142132"); //更改底部样式
            $(".switch-box ul li:eq(0)").css("border-top","2px solid #2A60A9");
            for(let i=0;i<$(".switch-box ul li").length;i++){
                $(".mybox").find(".chart-box").eq(i).hide();
            }
            $(".mybox").find(".chart-box").eq(0).show(); //默认第一个显示
            for(let i=0;i<$(".switch-box ul li").length;i++){
                $(".switch-box ul").find("li").eq(i).on("click",function(){   //点击事件
                 for(let j=0;j<$(".switch-box ul li").length;j++){
                     $(".mybox").find(".chart-box").eq(j).fadeOut();
                     $(".switch-box ul").find("li").eq(j).css("border-bottom","");
                     $(".switch-box ul").find("li").eq(j).css("border-top","");

                 };
                 $(".mybox").find(".chart-box").eq(i).fadeIn();
                 $(".switch-box ul").find("li").eq(i).css("border-bottom","3px solid #142132");
                 $(".switch-box ul").find("li").eq(i).css("border-top","2px solid #2A60A9");
                 })

                 }
        }



</script>
</body>
</html>