<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <script type="text/javascript" src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
	<title>互联网大数据分析-公司</title>
</head>
<body style="visibility: hidden;">
    <header class="myheader">
        <nav class="nav_box">
            <ul class="myul">
                <li>
                    <a href="index1" >主页</a>
                </li>
                <li>
                    <a href="city">城市</a>
                </li>
                <li>
                    <a href="company" class="myactive">公司</a>
                </li>
                <li>
                    <a href="job">岗位</a>
                </li>
                <li>
                    <a href="tab">求职标签面板</a>
                </li>
            </ul>
        </nav>
        <div class="center-top">
                <h1>互联网职位大数据分析</h1>
        </div>
        {% if name %}
        <div class="username-box">当前用户名：<a href="userspace" style="color:#fff;font-size: 12px">{{name}}</a></div>
        {% else %}
        <div class="username-box">未登录</div>
        {% endif %}
    </header>
    <div class="mycontainer">
        <div class="switch-box">
            <ul>
                <li>融资情况</li>
                <li>行业聚类</li>
                <li>大公司数量</li>
            </ul>
        </div>
        <div class="mybox">
            <div class="chart-box">
                <div class="wrapper">
                    <section style="width: 75%;height: 85%">
                        <div class="boxall" style="height: 100%">
                            <div class="alltitle">公司融资情况</div>
                                 <div id="chart7" style="width:850px;height:400px;"></div>
                            <div class="boxfoot"></div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="chart-box ">
                 <div class="wrapper">
                    <section style="width: 75%;height: 85%">
                        <div class="boxall" style="height: 100%">
                            <div class="alltitle">行业聚类</div>
                                 <ul id="table2-box" class="ranking-box">
                                 </ul>
                            <div class="boxfoot"></div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="chart-box">
                <div class="wrapper">
                    <section style="width: 45%;height: 85%">
                        <div class="boxall" style="height: 100%">
                            <div class="alltitle">各行业公司数量</div>
                                 <div id="chart8" style="width:500px;height:380px;"></div>
                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 45%;height: 85%;margin-left:10px">
                        <div class="boxall" style="height: 100%">
                            <div class="alltitle">各行业大公司数量</div>
                                 <div id="chart12" style="width:500px;height:380px;"></div>
                            <div class="boxfoot"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/china.js"></script>
<script type="text/javascript" src="../static/js/base.js"></script>
<script>
    //切换卡片功能
    $(window).on("load",function(){
        $("body").css('visibility', 'visible');
        for(let i=0;i<$(".switch-box ul li").length;i++){
            $(".mybox").find(".chart-box").eq(i).hide();
        }
        $(".switch-box ul li:eq(0)").css("border-bottom","3px solid #142132"); //更改底部样式
        $(".switch-box ul li:eq(0)").css("border-top","2px solid #2A60A9");
        $(".mybox").find(".chart-box").eq(0).show(); //默认第一个显示
        for(let i=0;i<$(".switch-box ul li").length;i++){
            $(".switch-box ul").find("li").eq(i).on("click",function(){  //点击事件
             for(let j=0;j<$(".switch-box ul li").length;j++){
                 $(".mybox").find(".chart-box").eq(j).fadeOut();
                 $(".switch-box ul").find("li").eq(j).css("border-bottom","");
                 $(".switch-box ul").find("li").eq(j).css("border-top","");

             };
            $(".mybox").find(".chart-box").eq(i).fadeIn();
             $(".switch-box ul").find("li").eq(i).css("border-bottom","3px solid #142132");
             $(".switch-box ul").find("li").eq(i).css("border-top","2px solid #2A60A9");
     })
    }
 });

</script>
</body>
</html>