<!DOCTYPE html>
<html>
  <head>
  	<title>html5</title>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <container id="container">OK</container>
    <script>

    (function(){$.ajax({
        url: "/get_data",
        type: "GET",
        dataType: "json",
        success: function (data) {
           //alert(JSON.stringify(data));
           func(data);
        }
    });
})()
   function func(data){
      var mydata = data["series_data"];
      var mydatalist = [];
      for(var i = 0;i < mydata.length ; i++){
         mydatalist[i]=mydata[i].cname;
      }
      $("#container").html(mydatalist);
   }

    </script>
  </body>
</html>