<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <script type="text/javascript" src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>互联网职位大数据分析-求职标签面板</title>
</head>
<body style="visibility: hidden">
    <header class="myheader">
        <nav class="nav_box">
            <ul class="myul">
                <li>
                    <a href="index1" >主页</a>
                </li>
                <li>
                    <a href="city">城市</a>
                </li>
                <li>
                    <a href="company">公司</a>
                </li>
                <li>
                    <a href="job">岗位</a>
                </li>
                <li>
                    <a href="tab" class="myactive">求职标签面板</a>
                </li>
            </ul>
        </nav>
        <div class="center-top">
                <h1>互联网职位大数据分析</h1>
        </div>
    </header>
    <div class="mycontainer">
        <div class="switch-box">
            <ul>
                <li>职位要求</li>
                <li>按工作要求划分</li>
            </ul>
        </div>
        <div class="mybox">
            <div class="chart-box">
                <div class="wrapper">
                    <section style="width: 30%;height: 45%;">
                        <div class="boxall" style="height: 100%;;padding: 0px">
                            <div class="alltitle" style="color:#fff;background: #2A60A9">Java开发工程师</div>
                            <p style="color:#E7DFDF;font-size: 12px;padding:10px">
                                1精通Java语言，对相关技术领域的开源产品有深入的理解;<br />

                                2熟悉分布式、性能调优、缓存、消息、搜索等机制；具有Golang实际经验优先;<br />

                                3熟悉MySQL等数据库中的一种或多种，有数据库调优经验，了解Mysql及相关分布式存储技术;<br />

                                4思维清晰，头脑灵活，能独立分析并解决复杂的线上问题;<br />

                                5有互联网或者其他大型商业系统（高并发）的研发经验.

                            </p>

                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 30%;height: 45%;">
                        <div class="boxall" style="height: 100%;padding: 0px;margin-left: 10px">
                            <div class="alltitle" style="color: #fff;background: #2A60A9">.NET开发工程师</div>
                            <p style="color: #E7DFDF;font-size: 12px;padding:10px">
                                1有3年以上C#开发经验;<br />

                                2搭建过.net客户端底层框架，熟悉基于MVVM的WPF插件开发机制;<br />

                                3熟悉常见的设计模式，可以熟练扩展WPF的自定义控件；<br />

                                4具备需求分析和系统设计能力，以及较强的逻辑分析和独立解决问题能力。

                            </p>

                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 30%;height: 45%;margin-left: 10px">
                        <div class="boxall" style="height: 100%;padding: 0px">
                            <div class="alltitle" style="color:#fff;background: #2A60A9">python开发工程师</div>
                            <p style="color: #E7DFDF;font-size: 12px;padding:10px">
                                1熟练掌握常用数据结构和算法，并能灵活运用<br />
                                2精通一种或几种语言，PHP / Python / Go/JAVA 等 ；<br />
                                3能承担较大工作压力，有较强独立分析，解决问题的能力<br />
                                4逻辑思维清晰，良好的文字和语言沟通表达能力<br />
                                5有激情和责任心，积极主动，具有良好的团队协作和对外沟通能力；<br />
                                6全日制本科及以上学历

                            </p>

                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 30%;height: 45%;">
                        <div class="boxall" style="height: 100%;padding: 0px">
                            <div class="alltitle" style="color: #fff;background: #2A60A9">Android工程师</div>
                            <p style="color: #E7DFDF;font-size: 12px;padding:10px">
                                1有2年或以上Android APP开发经验，有成功开发并上线APP的经验<br />
                                2扎实的Java功底，对设计模式有很好的理解，能够写出模块化, 可读可维护的代码<br />
                                3对Android系统和Android程序框架有深入了解<br />
                                4丰富的手机UI设计经验，熟悉网络编程、多线程、图形界面编程、熟悉TCP/UDP、HTTP协议；<br />
                                5有很好的英文基础，喜欢和善于学习新的技术和开源框架<br />

                            </p>
                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 30%;height: 45%;">
                        <div class="boxall" style="height: 100%;padding: 0px;margin-left: 10px">
                            <div class="alltitle" style="color: #fff;background: #2A60A9">数据仓库专家</div>
                            <p style="color: #E7DFDF;font-size: 12px;padding:10px">
                                1有5年以上数据相关开发经验；<br />
                                2精通SQL，有较好的SQL性能调优经验，理解Hive/Mysql 基本原理和调优策略；<br />
                                3熟悉类UNIX系统环境下的开发，掌握Python、Shell等脚本语言至少一种；<br />
                                4了解大数据常用技术，Hadoop/HBase/调度系统/Kylin等；<br />
                                5对数据和业务敏感，有良好的逻辑和沟通能力；<br />
                                6本科及以上学历，<br />
                                7有数据仓库相关经验优先；<br />

                            </p>

                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 30%;height: 45%;margin-left: 10px">
                        <div class="boxall" style="height: 100%;padding: 0px">
                            <div class="alltitle" style="color: #fff;background: #2A60A9">深度学习算法工程师</div>
                            <p style="color: #E7DFDF;font-size: 12px;padding:10px;">
                                1计算机视觉或相关方向硕士及以上；<br />

                                2能够跟踪最新技术，熟练阅读领域论文，并拥有较强算法实现能力，有ACM/ICPC 等编程竞赛经验者优先；<br />

                                3熟悉并熟练使用Caffe、MxNet、Tensorflow、PyTorch等任一种深度学习开源框架者优先；<br />

                                4熟悉神经网络模型的设计、调参、优化方法，熟悉小模型、移动端模型调参者优先；<br />

                                5熟悉ARM 芯片、微处理体系结构优化、指令集优化方法者优先；<br />

                            </p>
                            

                            <div class="boxfoot"></div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="chart-box">
                <div class="wrapper flag">
                    <section style="width: 30%;">
                        <div class="alltitle bar" style="color:#fff;background: #2A60A9;cursor: pointer;text-decoration: underline;">运维工程师</div>
                        <div class="boxall" style="padding: 0px">
                            <p style="float:left;color: #13FFEE;font-size: 12px;padding:10px;margin-top: 20px">
                                1有2年以上Linux系统管理经验，具有独立运维大中型网站或web应用平台经验；<br />

                                2精通TCP/IP通信原理，深入理解HTTP协议；<br />

                                3对CPU、内存、IO等性能以及程序性能优化有一定经验；<br />

                                4熟悉shell脚本编程；有开发经验优先，精通一门以上脚本语言(shell/nodejs/python等)，熟悉java<br />

                                5熟练安装、配置Nginx、MySQL、Mongodb、Tomcat等服务软件<br />

                                6有自动化运维、监控报警项目开发经验优先<br />

                                7熟练掌握阿里云日常操作，熟悉AWS优先<br />

                                8.7*24小时及时响应，良好的服务意识，善于团队协作，项目管理，主动思考，自我驱动力强。

                            </p>

                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 30%;;margin-left: 10px">
                        <div class="alltitle bar" style="color:#fff;background: #2A60A9;cursor: pointer;text-decoration: underline;">测试工程师</div>
                        <div class="boxall" style="padding: 0px;">
                            <p style="color: #13FFEE;font-size: 12px;padding:10px;margin-top: 20px">
                               1计算机或相关专业大专/本科学历；<br />

                                2有2年以上测试工作经验；<br />

                                3至少熟悉一种脚本语言 如 python ；<br />

                                4有自动化测试 性能测试 bug管理 方面经验优先 如熟悉：selenium jmeter appium jenkins jira<br />

                                5熟悉数据库常用sql语句；<br />

                                6掌握功能测试、自动化测试理论和方法；<br />

                                7有较强的沟通协作能力，学习能力，有较强分析和解决问题的能力，有强烈责任心，具有较强逻辑思维能力和表达能力；

                            </p>

                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 30%;margin-left: 10px">
                        <div class="alltitle bar" style="color:#fff;background: #2A60A9;cursor: pointer;text-decoration: underline;">Mysql DBA</div>
                        <div class="boxall" style="padding: 0px">
                            <p style="color: #13FFEE;font-size: 12px;padding:10px;margin-top: 20px">
                                1计算机专业本科及以上要求，至少1年实际数据库管理经验;<br />
                                2了解数据存储方式，熟悉索引设计；了解各个数据库软件的引擎特点；<br />
                                3熟悉mssql mysql日常运维工作；<br />
                                4具有一定的T-SQL、SQL编写能力，能进行SQL性能优化分析；<br />
                                5熟悉并掌握mssql mysql高可用方案；<br />
                                6掌握shell/python等至少一种脚本编写能力，能进行自动化相关内容开发；<br />
                                7有redis管理经验优先考虑。

                            </p>

                            <div class="boxfoot"></div>
                        </div>
                    </section>
                    <section style="width: 30%;height: 70%;margin-left: 10px;position: relative;">

                        <div style="height:10%;font-size:15px;text-align:center;background: #2A60A9;cursor: pointer;display:flex;justify-content:center;align-items:center">
                            <p style="color:#fff;">前端开发</p>
                        </div>
                        <div class="tagnav">
                            <ul>
                                <li>Web前端</li>
                                <li>Flash</li>
                                <li>U3D</li>
                                <li>COCOS2D-X</li>
                            </ul>
                        </div>
                        <div class="tagbox">
                            <p style="color: #13FFEE;font-size: 12px;padding:10px;margin-top: 20px;">
                               1精通JavaScript、HTML5、CSS，前端mvc开发框架，有基于Ajax的应用开发经验，能够手写页面代码；<br />

                                2了解Web2.0标准；了解DOM、XML、JSON等相关技术；<br />

                                3熟练掌握使用JavaScript进行Web开发，熟悉html5 + css3的新功能、canvas动画制作等；<br />

                                4有对应web app开发经验和作品者优先；<br />

                                5有JQuery Mobile，Sencha Touch，iWebkit等框架使用经验者优先；<br />

                                6工作认真细致，有责任心，能吃苦，具备良好的团队沟通与协作能力；

                            </p>
                            <p style="position: absolute;top: 0px;left: 0px;color: #13FFEE;font-size: 12px;padding:10px;">
                               1大专及以上学历，2-3年游戏开发经验，熟悉flash及spine，能够控制2D游戏动画的整体效果；<br />

                                2动画相关专业毕业，擅长Flash角色的设计和动画制作，及物件动态表现等；<br />

                                3熟悉动画的镜头语言和画面表现力；<br />

                                4对动画原理有较为系统的认识，能够掌握不同风格的动画表现手法；<br />

                                5具有良好的美术基础和审美观，思维活跃，想象力丰富，敢于创新；<br />

                                6熟悉移动端、PC端等游戏产品优先考虑。<br />

                            </p>
                            <p style="position: absolute;top: 0px;left: 0px;color: #13FFEE;font-size: 12px;padding:10px;">
                                1精通C#，熟悉Unity3D,具备良好的面向对象编程思想；<br />

                                2有2年以上Unity3D开发经验，熟悉Unity3D引擎，并会使用游戏开发相关的编辑器等常用开发工具；<br />

                                3熟悉JavaScript、TypeScript、Lua等脚本语言；<br />

                                4熟悉各种数据结构和游戏常用算法；<br />

                                5熟练使用Unity中的特效模块，能够自主创作特效效果；<br />

                                6对shader有一定程度的认识，能够借助工具如ShaderGraph、AmplifyShader、ShaderForge等实现所需材质效果要求；<br />

                                7良好的审美和逻辑思维能力，独立解决问题的能力，良好的沟通，需求理解能力和团队合作能力，工作积极主动，能承受一定的工作压力。
                            </p>
                            <p style="position: absolute;top: 0px;left: 0px;color: #13FFEE;font-size: 12px;padding:10px;">
                                1本科或以上学历，计算机相关专业，1年以上cocos手游开发经验；<br />
                                2能够独立承担基础功能开发，熟悉LUA脚本语言；<br />
                                3熟悉游戏客户端的开发流程，热爱游戏；<br />
                                4热衷于技术钻研，工作踏实、负责，有良好的抗压能力，思维活跃，沟通表达能力良好。
                            </p>
                        </div>
                    </section>
                    <section style="width: 30%;height: 70%;margin-left: 10px;position: relative;">

                        <div style="height:10%;font-size:15px;text-align:center;background: #2A60A9;cursor: pointer;display:flex;justify-content:center;align-items:center">
                            <p style="color:#fff;">人工智能</p>
                        </div>
                        <div class="tagnav2">
                            <ul>
                                <li>深度学习</li>
                                <li>图像处理</li>
                                <li>语音识别</li>
                                <li>自然语言处理</li>
                            </ul>
                        </div>
                        <div class="tagbox2">
                            <p style="color: #13FFEE;font-size: 12px;padding:10px;margin-top: 20px;">
                              1熟悉机器学习、深度学习常用算法，熟练掌握CNN、RNN、深度增强学习等至少一种算法原理；<br />
                            2对计算机视觉所涉及的机器学习方法有相关的掌握，如 mask-rcnn, pointnet, shapenet，svm，并且有实战经验，有深度学习相关经验者优先；<br />
                            3熟悉常见的三维数据，并对三维重建和数据结构有基础的了解；<br />
                            4动手能力强，熟练掌握C/C++/Python语言，有较强的算法分析和实现能力，并具备良好的代码和文档风格；<br />
                            5熟练阅读相关英文论文和专利，并能快速编程实现；<br />
                            6富有激情和创新精神，具备强烈的责任心和良好的沟通能力。

                            </p>
                            <p style="position: absolute;top: 0px;left: 0px;color: #13FFEE;font-size: 12px;padding:10px;">
                               1具有图像处理算法工作经验2年以上，优秀应接毕业生可放宽条件。<br />

                                        2能熟练使用OpenGL ES 2.0。<br />

                                        3至少能熟练使用C++开发。<br />

                                        4至少熟悉Android和iOS之一。<br />

                                        5至少开发过一款视频类的滤镜或者美颜APP。

                            </p>
                            <p style="position: absolute;top: 0px;left: 0px;color: #13FFEE;font-size: 12px;padding:10px;">
                                1拥有计算机或相关专业的硕士或博士学位，3年以上语音识别工作经验；<br />

                            2熟悉语音识别技术，包括GMM、HMM、DNN等常用技术；<br />

                            3熟练掌握Kaldi，SRiLM，RNNLM，TensorFlow等社区开源工具中的一种及以上；<br />

                            4熟悉语言信号处理者优先，包括降噪，VAD，音频特征提取等；<br />

                            5精通C/C++，Python，Shell编程语言，对数据结构和算法设计有深刻理解
                            </p>
                            <p style="position: absolute;top: 0px;left: 0px;color: #13FFEE;font-size: 12px;padding:10px;">
                                1有NLP领域的理论基础和实践经验，参与开发过相关的中大型系统，并有深度学习经验者优先；<br />

                                        2熟悉C++或Python，熟练使用常用算法和数据结构，对算法有较强的实现能力；<br />

                                        3有很强的自学能力，对搜索引擎、对话系统、语音交互等方向有经验优先；<br />

                                        4具有优秀的分析问题和解决问题的能力，对解决挑战性问题充满激情；<br />

                                        5具有良好的沟通能力、坦诚直接、重视团队合作；<br />

                                        6计算机相关专业硕士以上，5年以上工作经验。
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/china.js"></script>
<script type="text/javascript" src="../static/js/base.js"></script>
<script>
        //切换卡片功能
        window.onload=function(){
            $("body").css('visibility', 'visible');
            $(".switch-box ul li:eq(0)").css("border-bottom","3px solid #142132"); //更改底部样式
            $(".switch-box ul li:eq(0)").css("border-top","2px solid #2A60A9");
            for(let i=0;i<$(".switch-box ul li").length;i++){
                $(".mybox").find(".chart-box").eq(i).hide();
            }
            
            $(".mybox").find(".chart-box").eq(0).show(); //默认第一个显示
            for(let i=0;i<$(".switch-box ul li").length;i++){
                $(".switch-box ul").find("li").eq(i).on("click",function(){   //点击事件
                 for(let j=0;j<$(".switch-box ul li").length;j++){
                     $(".mybox").find(".chart-box").eq(j).fadeOut();
                     $(".switch-box ul").find("li").eq(j).css("border-bottom","");
                     $(".switch-box ul").find("li").eq(j).css("border-top","");

                 };
                 $(".mybox").find(".chart-box").eq(i).fadeIn();
                 $(".switch-box ul").find("li").eq(i).css("border-bottom","3px solid #142132");
                 $(".switch-box ul").find("li").eq(i).css("border-top","2px solid #2A60A9");
                 })

                 }

            //下拉卡片功能
            for(let i=0;i<$(".bar").length;i++){
                 $(".flag").find($(".boxall")).eq(i).hide();
            }
            for(let i=0;i<$(".bar").length;i++){
                $(".flag").find($(".bar")).eq(i).click(function(){
                    $(".flag").find($(".boxall")).eq(i).slideToggle();
                })

            }

            //内部切换卡片1功能
            for(let i=0;i<$(".tagnav ul li").length;i++){
                $(".tagbox").find("p").eq(i).hide();
                $(".tagnav ul").find("li").eq(i).css("border","none");
            }
            //默认样式
            $(".tagnav ul li:eq(0)").css("border-bottom","0.4px solid #2A60A9 ");
            $(".tagnav ul").find("li").eq(0).css("border-top","0.2px solid #fff");
            $(".tagnav ul").find("li").eq(0).css("border-right","0.2px solid #fff");
            $(".tagbox").find("p").eq(0).show();
            //鼠标滑过样式
            for(let i=0;i<$(".tagnav ul li").length;i++){
                  $(".tagnav ul").find("li").eq(i).hover(function(){
                     $(this).css("background","#0C1C6F");
                  },function(){
                     $(this).css("background","");
                  })
                }
            //鼠标点击事件
            for(let i=0;i<$(".tagnav ul li").length;i++){
                $(".tagnav ul").find("li").eq(i).click(function(){
                    for(let j=0;j<$(".tagnav ul li").length;j++){
                        $(".tagbox").find("p").eq(j).fadeOut();
                        $(".tagnav ul").find("li").eq(j).css("border","none");

                    }
                    $(".tagbox").find("p").eq(i).fadeIn();
                    $(this).css("border-left","0.2px solid #fff");
                    $(this).css("border-top","0.2px solid #fff");
                    $(this).css("border-right","0.2px solid #fff");
                    $(this).css("border-bottom","2px solid #2A60A9");

                    if(i==0){
                         $(this).css("border-left","none");
                    }
                })
            }

            //内部切换卡片2功能
            for(let i=0;i<$(".tagnav2 ul li").length;i++){
                $(".tagbox2").find("p").eq(i).hide();
                $(".tagnav2 ul").find("li").eq(i).css("border","none");
            }
            //默认样式
            $(".tagnav2 ul li:eq(0)").css("background","#0C1C6F");
            $(".tagbox2").find("p").eq(0).show();
            //鼠标点击事件
            for(let i=0;i<$(".tagnav2 ul li").length;i++){
                $(".tagnav2 ul").find("li").eq(i).click(function(){
                    for(let j=0;j<$(".tagnav2 ul li").length;j++){
                        $(".tagbox2").find("p").eq(j).fadeOut();
                        $(".tagnav2 ul").find("li").eq(j).css("background","");

                    }
                    $(".tagbox2").find("p").eq(i).fadeIn();
                    $(this).css("background-color","#0C1C6F");

                })
            }
        }

</script>
</body>
</html>